.header-box {
    width: 100%;
    height: 45vh;
    background-image: url('../../../assets/nick-morrison-325805-1024x768.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    content: "";
    overflow: hidden;

    .filter-box {
        background-color: rgba(0, 35, 51, 0.6);
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;


        .titul-box {


            h1 {
                color: white;

                span {
                    border-bottom: 2px solid #00FF84;
                }
            }

            color: white;

            a {
                color: rgba(248, 236, 236, 0.7) !important;
                font-weight: 400 !important;
                font-size: 14px;
            }
        }
    }


}