.nav-two {
    background-color: transparent;
    padding: 5px 0;

    .navbar-brand {
        font-size: 16px;
        font-weight: bolder;
        color: #002333;
    }

    li {
        a {
            text-transform: uppercase;

            @media screen and (max-width:768px) {
                font-size: 14px;
            }
        }
    }
}