button {

    max-width: 230px;
    border: 0;
    outline: 0;
    margin-top: 20px;
    background-color: rgba(0, 35, 51, 1);

    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    align-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    p {
        padding: 0 20px;
        margin: 0;
        width: 100%;
        text-align: center;

    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 15px;
        background-color: rgba(0, 255, 132, 1);

        i {
            color: rgba(0, 35, 51, 1);
        }
    }
}